<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">

<head>
    {{template "head.go.html"}}
</head>

<body>
{{template "jslinks.go.html"}}
{{template "metrica.go.html" .}}

<div style="max-width: 980px;padding-bottom: 56px" class="container-sm">
    <p style="margin-bottom: 25px;text-align: center">{{if eq . "debug"}}debug mode{{end}}</p>
    <div class="row align-items-center">
        <div class="col w-100 text-md-start text-left text-truncate">
            <div class="form-floating">
                <input id="query" type="text" class="form-control" placeholder="Введите название фильма или сериала для поиска">
                <label for="query">Введите название фильма или сериала для поиска</label>
            </div>
        </div>
        <div class="col-md-auto" style="padding: 10px">
            <button id="btn-search" type="button" class="btn btn-lg btn-outline-success w-100" title="Поиск" onclick="search()">
                <i id="ico-search" class="bi bi-search"></i>
                <span id="spin-search" style="display: none" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        </div>
    </div>

    <div class="row justify-content-between">
        <div id="sort" class="btn-group col-md-auto" role="group" style="padding-top: 5px">
            <input sorttorr="sid" type="radio" class="btn-check" name="btnradio" id="btn-sort-pir" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="btn-sort-pir">По пирам</label>

            <input sorttorr="size" type="radio" class="btn-check" name="btnradio" id="btn-sort-size" autocomplete="off" checked>
            <label class="btn btn-outline-primary btn-lg" for="btn-sort-size">По Размеру</label>

            <input sorttorr="date" type="radio" class="btn-check" name="btnradio" id="btn-sort-date" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="btn-sort-date">По Дате</label>
        </div>
    </div>

    <div class="row justify-content-between" id="filter">
        <div class="col-md" style="padding-top: 5px">
            <div class="form-group">
                <label for="quality">Качество</label>
                <select name="quality" class="form-control" id="quality">
                </select>
            </div>
        </div>
        <div class="col-md" style="padding-top: 5px">
            <div class="form-group">
                <label for="voice">Озвучка</label>
                <select name="voice" class="form-control" id="voice">
                </select>
            </div>
        </div>
        <div class="col-md" style="padding-top: 5px">
            <div class="form-group">
                <label for="seasons">Сезоны</label>
                <select name="seasons" class="form-control" id="seasons">
                </select>
            </div>
        </div>
        <div class="col-md" style="padding-top: 5px">
            <div class="form-group">
                <label for="tracker">Трекер</label>
                <select name="tracker" class="form-control" id="tracker">
                </select>
            </div>
        </div>
        <div class="col-md align-self-end" style="padding-top: 5px">
            <button id="btn-reset" type="button" class="btn btn-danger w-100" title="Сбросить" onclick="reset_filter()">
                <span>Сбросить</span>
            </button>
        </div>
    </div>

    <div id="status"></div>
    <p></p>
    <div id="torrs" style="margin-top: 50px"></div>

    {{template "toast.go.html"}}

</div>

{{template "bottom.go.html" .}}

{{template "modal.go.html" .}}

<script>
    var clipboard = new Clipboard('.copy-link');
    var torrents = undefined;
    var filtred = []
    const content = $('#torrs')
    var tshost = "";

    let filter_search = {
        voice: [],
        tracker: []
    }

    const filtr = $('#filter');

    $(window).ready(function () {
        let query = localStorage.getItem("searchquery");
        if (query) {
            $("#query").val(query);
            search();
        }
        tshost = localStorage.getItem("tshost");
    });

    $(document).on('change', 'input:radio[id^="btn-sort-"]', function (event) {
        buildTorrents();
    });

    $('select', filtr).on('change', function () {
        filter();
        buildTorrents();
    })

    function reset_filter() {
        $('[name="quality"],[name="tracker"],[name="voice"],[name="seasons"]', filtr).each(function () {
            $(this).val($('option', this).eq(0).attr('value'));
        });
        filter();
        buildTorrents();
    }

    function initFilter() {
        filter_search.voice = ["Все"]
        filter_search.tracker = ["Все"]
        filter_search.seasons = ["Все"]

        let seasons = []
        let quality = []

        torrents.forEach(element => {
            if (element.voices && element.voices.length) {
                element.voices.forEach(voice => {
                    if (filter_search.voice.indexOf(voice) === -1) filter_search.voice.push(voice)
                })
            }

            if (filter_search.tracker.indexOf(element.trackerName) === -1) filter_search.tracker.push(element.trackerName)

            if (quality.indexOf(element.quality) === -1 && element.quality) quality.push(element.quality)

            if (element.seasons && element.seasons.length) {
                element.seasons.forEach(s => {
                    if (seasons.indexOf(s) === -1 && s) seasons.push(s)
                })
            }
        })

        seasons.sort((a, b) => a - b)
        quality.sort((a, b) => b - a)

        seasons.splice(0, 0, "Все")
        quality.splice(0, 0, "Все")

        filter_search.seasons = seasons
        filter_search.quality = quality

        const append = function (name, value) {
            const select = $('[name="' + name + '"]', filtr)

            value.forEach(v => {
                select.append('<option value="' + v + '">' + v + '</option>')
            })

            select.val(value[0])
        }

        append('voice', filter_search.voice)
        append('tracker', filter_search.tracker)
        append('seasons', filter_search.seasons)
        append('quality', filter_search.quality)
    }

    function filter() {
        filtred = torrents.filter(element => {
            let pass = false,
                any = false,
                nopass = false

            const quality = $('[name="quality"]', filtr).val()
            const tracker = $('[name="tracker"]', filtr).val()
            const voice = $('[name="voice"]', filtr).val()
            const seasons = $('[name="seasons"]', filtr).val()

            if (quality !== "Все" || tracker !== "Все" || voice !== "Все" || seasons !== "Все") any = true;

            if (quality !== "Все") {
                if (element.quality === parseInt(quality)) pass = true
                else nopass = true
            }

            if (tracker !== "Все") {
                if (element.trackerName === tracker) pass = true
                else nopass = true
            }

            if (voice !== "Все") {
                if (element.voices && element.voices.indexOf(voice) !== -1) pass = true
                else nopass = true
            }

            if (seasons !== "Все") {
                if (element.seasons && element.seasons.indexOf(parseInt(seasons)) !== -1) pass = true
                else nopass = true
            }

            if (any) {
                if (nopass) return false
                else return pass
            } else return true
        })
    }

    function openTSDialog(magnet, title) {
        $("#magnet-text").val(magnet.trim());
        $("#title-label").text(title.trim());
        $("#hostts").val(tshost);
        $('#modalAddTS').modal('show');
    }

    function addMagnetTS() {
        tshost = $("#hostts").val();
        const magnet = $("#magnet-text").val();
        const title = $("#title-label").text();

        localStorage.setItem("tshost", tshost);
        var data = {
            "action": "add",
            "link": magnet,
            "save_to_db": true,
            "title": title,
        };
        var url = tshost + "/torrents";
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                toast("Magnet добавлен");
            },
            error: function (xhr, status, error) {
                toast("Произошла ошибка при добавлении: " + xhr.responseText || error || status);
            }
        });
    }

    function toast(msg) {
        $("#toastBody").text(msg);
        $("#toast").toast("show");
    }

    function search() {
        let query = $("#query").val();
        if (!query) {
            toast("Введите название фильма или сериала для поиска");
            return
        }

        localStorage.setItem("searchquery", query);

        $('#btn-search').prop('disabled', true);
        $('#ico-search').hide();
        $('#spin-search').show();
        $.get("/search?query=" + query).done(function (data) {
            $('[name="tracker"],[name="voice"],[name="seasons"],[name="quality"]', filtr).empty()
            torrents = JSON.parse(data);
            if (!torrents) {
                toast("Ничего не найдено");
                return;
            }
            torrents.forEach(function (elem) {
                let date = new Date(elem.createTime)
                elem.date = date.getTime()
                elem.dateHuman = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2)
            });
            filtred = []
        }).fail(function (jqXHR, textStatus, errorThrown) {
            toast(jqXHR.responseText);
        }).always(function () {
            $('#btn-search').prop('disabled', false);
            $('#ico-search').show();
            $('#spin-search').hide();
            initFilter();
            filter();
            buildTorrents();
        });
    }

    document.getElementById("query").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            search();
        }
    });

    $('.copy-link').on('click', function (event) {
        let element = this;
        $(element).find("i").removeClass("bi-clipboard").addClass("bi-check2");
        setTimeout(function () {
            $(element).find("i").removeClass("bi-check2").addClass("bi-clipboard");
        }, 1000);
    });

    function buildTorrents() {
        content.empty();
        const key = $('#sort input:radio:checked').attr("sorttorr");

        if (torrents)
            $("#status").html(`<h5 class="text-muted" style="margin-top: 10px">Найдено торрентов: ${filtred.length}/${torrents.length}</h5>`);
        else
            $("#status").html("");

        filtred.sort((c, b) => {
            if (c[key] < b[key]) return 1
            if (c[key] > b[key]) return -1
            return 0
        });

        filtred.forEach(function (elem) {
            const item = $(`<div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">${elem.title}</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 5px">
                        <a target="_blank" href="${elem.url}" style="text-decoration: none">
                            <img style="margin-bottom: 3px" width="16" src="/img/ico/${elem.trackerName}.ico" alt="${elem.trackerName}">
                            <span>&nbsp;${elem.trackerName}</span>
                        </a>
                    </h6>
                    <p class="card-text">
                        <span>
                            <a href="${elem.magnet}" target="_blank" style="text-decoration: none">
                                <img width="16px" src="/img/magnet.svg">
                            </a>&nbsp;
                        </span>
                        <span class="copy-link" data-clipboard-text="${elem.magnet}" onclick="toast('Магнет ссылка скопирована')">
                            <img style="margin-bottom: 3px" width="16" src="/img/copy.svg">&nbsp;
                        </span>
                        <span onclick="openTSDialog('${elem.magnet}','${elem.title}')">
                            <img style="margin-bottom: 3px" width="16" src="/img/plus.svg">&nbsp;
                        </span>
                        <span> ${elem.sizeName} </span>&nbsp;
                        <span>${elem.dateHuman} </span>&nbsp;
                        <span>⬆ ${elem.sid || 0} </span>&nbsp;
                        <span>⬇ ${elem.pir || 0} </span>&nbsp;
                    </p>
                </div>
            </div><p></p>`);
            content.append(item);
        });
    }

</script>
</body>

</html>