<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Сократите длинный URL абсолютно бесплатно и без лишних действий">
<meta name="keywords" content="короткие ссылки, временные ссылки, укоротить ссылку, короткая ссылка, временная ссылка, сокращение ссылок, короткие ссылки"/>

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-config" content="/img/browserconfig.xml">
<meta name="theme-color" content="#212529">

<title>TORRS - Фильмы и сериалы</title>


<meta property="og:image" content="https://torrs.ru/img/T.png"/>
<meta property="og:image:alt" content="TORRS.RU"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="1024"/>
<meta property="og:site_name" content="torrs.ru"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Фильмы и сериалы"/>
<meta property="og:url" content="https://torrs.ru"/>
<meta property="og:description" content="Поиск фильмов и сериалов"/>